<a href="https://colab.research.google.com/github/pranaysawant17/Python-Projects/blob/main/Fountain9_CaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [202]:
import pandas as pd
import numpy as np

Importing dataset and displaying the rows in DataFrame

In [203]:
sales=pd.read_excel("/content/drive/MyDrive/Fountain9 DS Assignment Data.xlsx", sheet_name=0)
product=pd.read_excel("/content/drive/MyDrive/Fountain9 DS Assignment Data.xlsx", sheet_name=1)
branch=pd.read_excel("/content/drive/MyDrive/Fountain9 DS Assignment Data.xlsx", sheet_name=2)
po= pd.read_excel("/content/drive/MyDrive/Fountain9 DS Assignment Data.xlsx", sheet_name=3)
spb=pd.read_excel("/content/drive/MyDrive/Fountain9 DS Assignment Data.xlsx", sheet_name=4)
select=pd.read_excel("/content/drive/MyDrive/Fountain9 DS Assignment Data.xlsx", sheet_name=5)
sales.head()

        Date  Product ID  Branch ID  Price  Quantity
0 2021-11-01         1.0      100.0   10.0     120.0
1 2021-11-01         2.0      200.0   15.0     450.0
2 2021-11-02         1.0      100.0   12.0     300.0
3 2021-11-02         2.0      200.0   20.0     500.0

In [204]:
branch.head()

   Branch ID Branch Name       City
0      100.0       Powai     Mumbai
1      200.0         HSR  Bangalore

In [205]:
product.head()

   Product ID            Product Name Category 1
0         1.0  Tropicana Orange Juice     Drinks
1         2.0                 Bourbon   Biscuits
2         2.0                 Bourbon   Biscuits

In [206]:
po.head()

        Date  Purchase Order ID  ...  Ordered Date  Received Date
0 2021-11-01              101.0  ...    2021-11-01            NaT
1 2021-11-01              102.0  ...    2021-10-25     2021-11-01
2 2021-11-01              103.0  ...    2021-10-28     2021-11-01
3 2021-11-01              104.0  ...    2021-11-01     2021-11-01
4 2021-11-01              105.0  ...    2021-10-27     2021-11-01

[5 rows x 9 columns]

In [207]:
spb.head()

   Supplier ID  Product ID  Branch ID            Schedule Days
0       2000.0         1.0      100.0  ["Monday", "Wednesday"]
1       3000.0         1.0      200.0              ["tuesday"]
2       2000.0         2.0      100.0               ["Sunday"]
3       3000.0         2.0      200.0   ["Thursday", "monday"]

In [208]:
select.head()

  Product Name Product Category  Quantity  Price
0     Good Day         Biscuits       5.0   10.0
1    Amul Milk            Dairy      10.0   20.0
2       Kitkat        Chocolate      15.0  100.0
3      Sunsilk          Shampoo       8.0   50.0
4      Parle G         Biscuits      20.0   25.0

Dropping duplicate from product

In [209]:
product.drop_duplicates(inplace=True)
product

   Product ID            Product Name Category 1
0         1.0  Tropicana Orange Juice     Drinks
1         2.0                 Bourbon   Biscuits

##Q1.

In [210]:
merged_sales_prod_branch=pd.merge(sales,right= product, how='left',on='Product ID').merge(right=branch, how='left',on='Branch ID')

In [211]:
merged_sales_prod_branch

        Date  Product ID  Branch ID  ...  Category 1  Branch Name       City
0 2021-11-01         1.0      100.0  ...      Drinks        Powai     Mumbai
1 2021-11-01         2.0      200.0  ...    Biscuits          HSR  Bangalore
2 2021-11-02         1.0      100.0  ...      Drinks        Powai     Mumbai
3 2021-11-02         2.0      200.0  ...    Biscuits          HSR  Bangalore

[4 rows x 9 columns]

## Q2

Craeting Laed Time column

In [212]:
po['Lead Time']=po['Received Date'] - po['Ordered Date']
po['Lead Time']=po['Lead Time'].apply(lambda x: x.days)
po

        Date  Purchase Order ID  ...  Received Date  Lead Time
0 2021-11-01              101.0  ...            NaT        NaN
1 2021-11-01              102.0  ...     2021-11-01        7.0
2 2021-11-01              103.0  ...     2021-11-01        4.0
3 2021-11-01              104.0  ...     2021-11-01        0.0
4 2021-11-01              105.0  ...     2021-11-01        5.0
5 2021-11-01              106.0  ...     2021-11-01        3.0

[6 rows x 10 columns]

Mean and varience of Lead Time for 'Product ID', 'Branch ID', 'Supplier ID'

In [213]:
po.columns

Index(['Date', 'Purchase Order ID', 'Product ID', 'Branch ID', 'Supplier ID',
       'Ordered Quantity', 'Received Quantity', 'Ordered Date',
       'Received Date', 'Lead Time'],
      dtype='object')

In [214]:
po.groupby(['Product ID', 'Branch ID', 'Supplier ID'])['Lead Time'].agg([np.mean,np.var])

                                      mean       var
Product ID Branch ID Supplier ID
1.0        100.0     2000.0       5.500000  4.500000
2.0        200.0     3000.0       2.666667  6.333333

##Q3

Converting data from Schedule Days column to numrical value to match given output

In [215]:
y = {'monday':0,'tuesday':1, 'wednesday':2,'thursday':3, 'friday':4, 'saturday':5, 'sunday':6}

In [216]:
def convertion(list_):
 
  if len(list_)==1:
    for i in list_:
      return str(y[i.lower()])
  else:
    lst=[]
    for i in list_:
      lst.append(y[i.lower()])
      
    return  str(lst)

In [217]:
spb['Schedule Days']=spb['Schedule Days'].apply(eval)
spb['Schedule Days']=spb['Schedule Days'].apply(convertion)
spb['Schedule Days']=spb['Schedule Days'].str.strip('[]')
spb

   Supplier ID  Product ID  Branch ID Schedule Days
0       2000.0         1.0      100.0          0, 2
1       3000.0         1.0      200.0             1
2       2000.0         2.0      100.0             6
3       3000.0         2.0      200.0          3, 0

##Q4.

Creating a Result with if product category is Biscuits then value will be same as quantity else it will be same as price.

In [219]:
select['Result']=np.where(select['Product Category']=='Biscuits',select['Quantity'], select['Price'])

In [220]:
select

  Product Name Product Category  Quantity  Price  Result
0     Good Day         Biscuits       5.0   10.0     5.0
1    Amul Milk            Dairy      10.0   20.0    20.0
2       Kitkat        Chocolate      15.0  100.0   100.0
3      Sunsilk          Shampoo       8.0   50.0    50.0
4      Parle G         Biscuits      20.0   25.0    20.0